@primary_color: #D6417A;
@secondary_color: #F5C563;
@color_accent: #E8748A;
@primary_background: #FFFDFB;
@secondary_background: #fedde9;
@primary_text: rgb(1, 1, 1);
@secondary_text: rgb(14, 13, 13);
@tertiary_text: rgb(6, 5, 5);
@border: #F0D8DE;
@button_primary: #c8688d;
@button_secondary: #f4c5c5;
@button_off: rgb(165, 145, 145);
@mensaje_error: #e74c3c;