/*ERRORES*/
.error {
    border: 2px solid @border !important;
    background-color: @secondary_background;

    &-text {
        color: @mensaje_error;
        font-size: 13px;
        margin-top: 5px;
        width: 90%;
        text-align: left;
    }
}


/*VALIDAR*/
.valid {
    border: 2px solid @tertiary_text !important;
    background-color: @primary_background;
}