/*==================HTML -> SERVICES =====================*/
.donaciones-box {
    max-width: 400px;
    margin: 40px auto;
    padding: 25px;
    background: @primary_background;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

input,
select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

/*PAYMENT*/
.payment-fields {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.donaciones-box h2 {
    margin-bottom: 10px;
}

.montos button {
    margin-bottom: 10px;
    border: none;

    &:hover {
        background: darken(@primary_color, 15%);
    }
}
.btn-pay {
    padding: 15px 0;
}

/* ========================================================*/